.dictionary {
    padding: 10px;
    margin: 10px;
    background: #393E46 !important;
}

.leftcontent {
    padding: 30px;
    margin: 30px;
    background: #00ADB5 !important;
}

.meaning {
    padding: 10px;
    margin-top: 20px;
}

.pronounciation {
    margin: 15px;
}

.btn-primary {
    background-color: #222831 !important;
    border-color: none;
    color: white;
}

.card-2 {
    margin-top: 20px;
}

h2 {
    margin-bottom: 0px;
}